In [ ]:
n = 15841
a = [2, 3, 4, 5]